    <section class="top-section">
        <div class="containerMain">
            <div class="right">
                <h2>The Complete Healthcare Solution</h2>
                <p class="landingMain">More than 100 trusted doctors are here for you</p>
                <button class="getStartedbutton">Get Started</button>
            </div>
            <div class="leftMain">
                <div class="doctorImg">.</div>
            </div>
        </div>
    </section>
    <section class="bottomSection">
        <div class="bottomSectionContainer">
            <div class="box">Cold, Cough or Fever</div>
            <div class="box" style="background-image: url('https://img.freepik.com/premium-photo/people-healthcare-health-problem-concept-unhappy-man-suffering-from-stomach-ache-white-background_264197-4975.jpg');">Stomachache</div>
            <div class="box" style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwndeuyDpQln4uYoA2sbU2VKgkvDSi7P1hPA&usqp=CAU);">Breathing Issues</div>
            <div class="box" style>Blood Pressure</div>
            <div class="box">Insomnia</div>
            <div class="box">Sugar Levels</div>

        </div>
        <div class="bottomestSectionContainer">
            <div class="leftbottomest">
                <h2>Consult Top Doctors Online</h2>
            </div>
            <div class="rightbottomest">
                <p>Doctors across 35+ specialties</p>
                <p>Find Doctors according to your desired prefernces</p>
                <p>Start Consulting!</p>
            </div>
            
        </div>
        <div class="bottomestestSectionContainer">
            <div class="leftbottomest">
                <h2>Book Lab Test and Health Checks</h2>
            </div>
            <div class="rightbottomest">
                <p>NABL - accredited labs for accurate results  </p>
                <p>Online lab report results 4 hours</p>
                <p>Lab Reports done by experts</p>
            </div>
            
            
        </div>
        <div class="bottomestx4SectionContainer">
            <div class="leftbottomest">
                <h2>Online ChatBot</h2>
            </div>
            <div class="rightbottomest">
                <p>24/7 chatbot powered by ChatGPT API</p>
                <p>AI powered Medical Assistance</p>
                <p></p>
            </div>
        </div>
    </section>